<div class="container header mt-3 position-fixed">
  <nav class="header-navbar navbar navbar-expand-lg bg-transparent border">
    <button class="navbar-toggler text-white p-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 px-5 d-flex">
        <li class="nav-item text-center "><a href="/" class="nav-link">Преимущества</a></li>
        <li class="nav-item text-center ml-4"><a href="/" class="nav-link">Услуги</a></li>
        <li class="nav-item text-center ml-4"><a href="/" class="nav-link">Сертификаты</a></li>
        <li class="nav-item text-center ml-4"><a href="/gallery.html" class="nav-link">О нас</a></li>
      </ul>
    </div>
  </nav>
</div>
